<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">
      <header>
        <h3 class="page-title my-3">
          <a href="/">Chad's Website</a>
        </h3>
      </header>
      <section id="content">
        <app-pinboard-list></app-pinboard-list>
        <app-lastfm-list></app-lastfm-list>
        <app-pocket-list></app-pocket-list>
      </section>
      <footer>
        <div class="text-center page-footer">
          <ul class="list-unstyled author-links">
            <li>
              <a href="https://keybase.io/chadxz" title="Chad McElligott at Keybase">
                <span class="fa fa-key fa-2x"></span>
                <span class="d-none">Chad McElligott at Keybase</span>
              </a>
            </li>
            <li>
              <a href="https://github.com/chadxz" title="chadxz on github">
                <span class="fa fa-github fa-2x"></span>
                <span class="d-none">chadxz on github</span>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/chadmcelligott" title="@chadmcelligott on twitter">
                <span class="fa fa-twitter fa-2x"></span>
                <span class="d-none">@chadmcelligott on twitter</span>
              </a>
            </li>
            <li>
              <a href="http://www.linkedin.com/in/chadmcelligott/" title="Chad McElligott on LinkedIn">
                <span class="fa fa-linkedin fa-2x"></span>
                <span class="d-none">Chad McElligott on LinkedIn</span>
              </a>
            </li>
          </ul>
        </div>
      </footer>
    </div>
  </div>
</div>
